/* muli-200normal - latin */
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: url('/files/muli-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Muli Extra Light '), local('Muli-Extra Light'),
        url('/files/muli-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/files/muli-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/files/muli-latin-200.woff')
            format('woff'),
        /* Modern Browsers */ url('/files/muli-latin-200.svg#muli')
            format('svg'); /* Legacy iOS */
}

/* muli-200italic - latin */
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 200;
    src: url('/files/muli-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local('Muli Extra Light italic'), local('Muli-Extra Lightitalic'),
        url('/files/muli-latin-200italic.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('/files/muli-latin-200italic.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/files/muli-latin-200italic.woff')
            format('woff'),
        /* Modern Browsers */ url('/files/muli-latin-200italic.svg#muli')
            format('svg'); /* Legacy iOS */
}
