<form id="site-search-form" action="" role="search">
  <fieldset class="bn ma0 pa0">
    <label class="clip" for="search-input">Search</label>
    <input type="search" id="search-input" class="needs-js bg-left bg-transparent bn f5 input-reset lh-solid mt3 mt0-ns pl4 pv2 w5 white"
      placeholder="Search the Docs" type="text" name="search-input" value="" style="background-image:url('/decred-dev-docs/images/icon-search.png');background-size:16px 16px;">
  </fieldset>
</form>
